/*css comment*/

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.clearfix:after {
	display: table;
	content: "	";
	clear: both;

}

.container{
	width: 960px;
	margin: 0 auto;
}

.left{
	float: left;
}
.right{
	float: right;
}
.box{
	padding: 10px;
}
.main-header{
	background: url('../img/sun-logo.png');
	width: 341px;
	height: 89px;
}

main section {
	width: 460px;
}

section figure {
	padding: 2px;
	margin: 5px;
}

.info {
	width: 300px;
	margin: 5px;
}
